@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*,
*::after{
margin:0;
padding:0;
box-sizing: border-box;
}
:root{
    --after-content:'2';
    --green:#006400;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
}

body{
    width:100vw;
    font-family: 'Poppins', sans-serif;
}
header{
    position: fixed;
    left:0;
    right:0;
    top:0;
    height:12vh;
    background-color: #006400;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: flex-start;
    align-items: center;

}
h1{
    color: #fff;
    display: flex;
    position: relative;
    right: 70px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: auto;
    align-items: center;
}
.cart-box{
    width:26% !important;
    position: absolute;
    left:72%;
    top:25%;
    /* border:solid 1px blue; */
    padding:10px 20px;
}
h2{
    font-size: x-large;
    padding:15px 10px;
}

.cart-wrapper{
    overflow-y: auto;
    max-height: 350px;
    width:24vw;
}
.subtotal{
    text-align: right;
    padding:5%;
}
.checkout, .view-cart{
    width:95%;
    text-align: center;
    cursor: pointer;
    background-color: #006400;
    font-size: large;
    color: #fff;
    margin:10px auto;
    padding:10px 15px;
}
.view-cart{
    background-color: #fff;
    border: 2px solid #006400;
    color: #006400;
}
.cart-icon{
    text-align: right;
}

.cart-item{
  display:grid;
  grid-template-columns: 3fr 6fr 1fr;
  padding:5% 2%;
  border-bottom:solid 1px lightgray;  
}

.cart-item img{
    width:100%;
}
.cart-item .details{
    padding-left:10%;
}

.cart-item h3{
  text-align: left; 
  margin-bottom:5%; 
}

.cart-item .price{
display: block;
text-align: right;
margin-top: 35%; 
  }
  
 .quantity{
     display: block;
     margin-top:5%;
 } 

 .fa-window-close{
     color: #006400;
 }
 .cancel{
     text-align: right;
 }
 .whole-cart-window{
     border: solid lightgray 1px;
     border-top:none;
     position: fixed;
     top:12vh;
     background-color: #fff;
     margin-right:2%;
 }

 .hide{
     display: none;
 }
.non-empty::after{
  content: var(--after-content);
  font-size: 25px;
  width:25px;
  display: inline-block;
  text-align: center;
  position: relative;
  top:-20px;
  right:20%;
  background-color:  #8dd88d;
  border-radius: 50%;
}

.card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 123px;
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 50px;
}
.card-item{
    text-align: center;
    background-color: #DCE0E1;
    padding: 20px;
    box-shadow: 0 50px 50px #757676;
    letter-spacing: 1px;
    background: #fff;
    text-align: center;
    padding: 7rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: .2s linear;
}
.card-item:hover{
    outline: var(--outline-hover) ;
    outline-offset: 0rem ;
}
.card-item img{
    width:45%;
}
.card-item .details{
    text-align: center;    
}
.card-item p,.card-item h3 {
    margin-top:10px;   
}
.card-item span{
    display: block;
    margin-top:10px;
}
.add-to-cart-btn{
    width: fit-content;
    margin:auto;
    /* margin-top:10px; */
    padding: 10px 15px;
    cursor: pointer;
    background-color: #006400;
    border-radius: 3px;
    font-size: large;
    color:#fff
}

.logo{
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    padding:0rem 2rem;
}

.header .logo{
   
        color: #fff;
        font-size: 24px;
    
    
}

.header .logo i{
    color:var(--green);
}

.header.a{
    font-size: 1.7rem;
    margin:0 1rem;
    color:var(--black);
}

.header.a:hover{
    color:var(--green);
}











.card {
    position: relative;
    width: 11.875em;
    height: 16.5em;
    box-shadow: 0px 1px 13px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all 120ms;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 0.5em;
    padding-bottom: 3.4em;
  }
  
  .card::after {
    content: "Add to Cart";
    padding-top: 1.25em;
    padding-left: 1.25em;
    position: absolute;
    left: 0;
    bottom: -60px;
    background: #00AC7C;
    color: #fff;
    height: 2.5em;
    width: 90%;
    transition: all 80ms;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0;
  }
  
  .card .title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    position: absolute;
    left: 0.625em;
    bottom: 1.875em;
    font-weight: 400;
    color: #000;
  }
  
  .card .price {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 0.9em;
    position: absolute;
    left: 0.625em;
    bottom: 0.625em;
    color: #000;
  }
  
  .card:hover::after {
    bottom: 0;
    opacity: 1;
  }
  
  .card:active {
    transform: scale(0.98);
  }
  
  .card:active::after {
    content: "Added !";
    height: 3.125em;
  }
  
  .text {
    max-width: 55px;
  }
  
  .image {
    background: rgb(241, 241, 241);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
  }

  .spinnerContainer {  display: flex;
    flex-direction: column;  align-items: center;
  }
  .spinner {  width: 56px;
    height: 56px;  display: grid;
    border: 4px solid #0000;  border-radius: 50%;
    border-right-color: #006400;  animation: tri-spinner 1s infinite linear;
  }
  .spinner::before,.spinner::after {
    content: "";  grid-area: 1/1;
    margin: 2px;  border: inherit;
    border-radius: 50%;  animation: tri-spinner 2s infinite;
  }
  .spinner::after {  margin: 8px;
    animation-duration: 3s;}
  @keyframes tri-spinner {
    100% {    transform: rotate(1turn);
    }}
  .loader {
    color: #4a4a4a;  font-family: "Poppins",sans-serif;
    font-weight: 500;  font-size: 25px;
    -webkit-box-sizing: content-box;  box-sizing: content-box;
    height: 40px;  padding: 10px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;  border-radius: 8px;
  }
  .words {  overflow: hidden;
  }
  .word {  display: block;
    height: 100%;  padding-left: 6px;
    color: #006400;  animation: cycle-words 5s infinite;
  }
  @keyframes cycle-words {  10% {
      -webkit-transform: translateY(-105%);    transform: translateY(-105%);
    }
    25% {    -webkit-transform: translateY(-100%);
      transform: translateY(-100%);  }
    35% {
      -webkit-transform: translateY(-205%);    transform: translateY(-205%);
    }
    50% {    -webkit-transform: translateY(-200%);
      transform: translateY(-200%);  }
    60% {
      -webkit-transform: translateY(-305%);    transform: translateY(-305%);
    }
    75% {    -webkit-transform: translateY(-300%);
      transform: translateY(-300%);  }
    85% {
      -webkit-transform: translateY(-405%);    transform: translateY(-405%);
    }
    100% {    -webkit-transform: translateY(-400%);
      transform: translateY(-400%);  }
  }.spinnerContainer{
    height: 100vh;  display: flex;
    justify-content: center;  align-items: center;
  }
