@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
.modal {
    width: fit-content;
    height: fit-content;
    background: #006400;
    box-shadow: 3px 3px 5px 4px rgba(0, 0, 0, 0.5);
    border-radius: 26px;
    max-width: 450px;
    
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  
  .payment--options {
    width: calc(100% - 40px);
    display: grid;
    grid-template-columns: 33% 34% 33%;
    gap: 20px;
    padding: 10px;
  }
  
  .payment--options button {
    height: 55px;
    background: #fff;
    border-radius: 11px;
    padding: 0;
    border: 0;
    outline: none;
  }
  
  .payment--options button svg {
    height: 18px;
  }
  
  .payment--options button:last-child svg {
    height: 22px;
  }
  
  .separator {
    width: calc(100% - 20px);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    color: #8B8E98;
    margin: 0 10px;
  }
  
  .separator > p {
    word-break: keep-all;
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 11px;
    margin: auto;
  }
  
  .separator .line {
    display: inline-block;
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #e8e8e8;
    margin: auto;
  }
  
  .credit-card-info--form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .input_container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .split {
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 30px;
  }
  
  .split input {
    width: 100%;
  }
  
  
  .input_label {
    font-size: 15px;
    color: #fff;
    font-weight: 600;
  }
  
  .input_field {
    width: auto;
    height: 40px;
    padding: 0 0 0 16px;
    border-radius: 9px;
    outline: none;
    background-color: #F2F2F2;
    border: 1px solid #e5e5e500;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  }
  .cvv{
    width: 74px !important;
  }

  .input_field:focus {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 2px #242424;
  }
  
  .purchase--btn {
    height: 55px;
    background: #F2F2F2;
    border-radius: 11px;
    border: 0;
    outline: none;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    background: linear-gradient(180deg, #363636 0%, #1B1B1B 50%, #000000 100%);
    box-shadow: 0px 0px 0px 0px #FFFFFF, 0px 0px 0px 0px #000000;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  }
  
  .purchase--btn:hover {
    box-shadow: 0px 0px 0px 2px #FFFFFF, 0px 0px 0px 4px #0000003a;
  }
  
  /* Reset input number styles */
  .input_field::-webkit-outer-spin-button,
  .input_field::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }


  /* for navbar */
  
  

  
  .spinnerContainer {  display: flex;
    flex-direction: column;  align-items: center;
  }
  .spinner {  width: 56px;
    height: 56px;  display: grid;
    border: 4px solid #0000;  border-radius: 50%;
    border-right-color: #006400;  animation: tri-spinner 1s infinite linear;
  }
  .spinner::before,.spinner::after {
    content: "";  grid-area: 1/1;
    margin: 2px;  border: inherit;
    border-radius: 50%;  animation: tri-spinner 2s infinite;
  }
  .spinner::after {  margin: 8px;
    animation-duration: 3s;}
  @keyframes tri-spinner {
    100% {    transform: rotate(1turn);
    }}
  .loader {
    color: #4a4a4a;  font-family: "Poppins",sans-serif;
    font-weight: 500;  font-size: 25px;
    -webkit-box-sizing: content-box;  box-sizing: content-box;
    height: 40px;  padding: 10px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;  border-radius: 8px;
  }
  .words {  overflow: hidden;
  }
  .word {  display: block;
    height: 100%;  padding-left: 6px;
    color: #006400;  animation: cycle-words 5s infinite;
  }
  @keyframes cycle-words {  10% {
      -webkit-transform: translateY(-105%);    transform: translateY(-105%);
    }
    25% {    -webkit-transform: translateY(-100%);
      transform: translateY(-100%);  }
    35% {
      -webkit-transform: translateY(-205%);    transform: translateY(-205%);
    }
    50% {    -webkit-transform: translateY(-200%);
      transform: translateY(-200%);  }
    60% {
      -webkit-transform: translateY(-305%);    transform: translateY(-305%);
    }
    75% {    -webkit-transform: translateY(-300%);
      transform: translateY(-300%);  }
    85% {
      -webkit-transform: translateY(-405%);    transform: translateY(-405%);
    }
    100% {    -webkit-transform: translateY(-400%);
      transform: translateY(-400%);  }
  }.spinnerContainer{
    height: 100vh;  display: flex;
    justify-content: center;  align-items: center;
  }
