@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --green:#006400;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background:#eee;
}

section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    padding:2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color:var(--black);
}

.heading span{
    background: var(--green);
    color:#fff;
    display: inline-block;
    padding:.5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border:.2rem solid var(--black);
    color:var(--black);
    cursor: pointer;
    background: none;
}

.btn:hover{
    background: var(--green);
    color:#fff;
}

.header{
    position: relative;
    top:0; left:0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
    background:#fff;
    box-shadow: var(--box-shadow);
}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:var(--black);
}

.header .logo i{
    color:var(--green);
}

.header .navbar a{
    font-size: 1.7rem;
    margin:0 1rem;
    color:var(--black);
}

.header .navbar a:hover{
    color:var(--green);
}

.header .icons div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color:var(--black);
    font-size: 2rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
}

.header .icons div:hover{
    background: var(--green);
    color:#fff;
}

#menu-btn{
    display: none;
}

.header .search-form{
    position: relative;
    top:110%; right:-110%;
    width: 50rem;
    height:5rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.header .search-form.active{
    right:2rem;
    transition: .4s linear;
}

.header .search-form input{
    height:100%;
    width:100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color:var(--black);
    padding:0 1.5rem;
}

.header .search-form label{
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color:var(--black);
    cursor: pointer;
}

.header .search-form label:hover{
    color:var(--green);
}

.header .shopping-cart{
    position: relative;
    top:110%; right:-110%;
    padding:1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width:35rem;
    background: #fff;
}

.header .shopping-cart.active{
    right:2rem;
    transition: .4s linear;
}

.header .shopping-cart .box{
    display: flex;
    align-items: center;
    gap:1rem;
    position: relative;
    margin:1rem 0;
}

.header .shopping-cart .box img{
    height:10rem;
}

.header .shopping-cart .box .fa-trash{
    font-size: 2rem;
    position: relative;
    top:50%; right:2rem;
    cursor: pointer;
    color:var(--light-color);
    transform: translateY(-50%);
}

.header .shopping-cart .box .fa-trash:hover{
    color:var(--green);
}

.header .shopping-cart .box .content h3{
    color:var(--black);
    font-size: 1.7rem;
    padding-bottom: 1rem;
}

.header .shopping-cart .box .content span{
    color:var(--light-color);
    font-size: 1.6rem;
}

.header .shopping-cart .box .content .quantity{
    padding-left: 1rem;
}

.header .shopping-cart .total{
    font-size: 2.5rem;
    padding:1rem 0;
    text-align: center;
    color:var(--black);
}
.header .shopping-cart .btn{
    display: block;
    text-align: center;
    margin:1rem;
}
/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:2rem;
    }

    section{
        padding:2rem;
    }
  

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .search-form{
        width:90%;
    }

    .header .navbar{
        position: relative;
        top:110%; right:-110%;
        width:30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
    }

    .header .navbar.active{
        right:2rem;
        transition: .4s linear;
    }

    .header .navbar a{
        font-size: 2rem;
        margin:2rem 2.5rem;
        display: block;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .heading{
        font-size: 2.5rem;
    }

    .footer{
        text-align: center;
    }

    .footer .box-container .box .payment-img{
        margin: 2rem auto;
    }
  

}

.img-thumbnail{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

td{
    margin-right: 15px;
}
#yourde{
    position: relative;
    top: 30px;
    font-size: large;
}
.tables{
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
    border-radius: 15px;
    padding-bottom: 20px;
}
.text-primaryy{
    color: #006400 !important;
}
#data{
    position: relative;
    top: 50px;
    font-size: large;
}



.btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #006400 !important;
    border-color: #006400 !important;
}
@media(max-width:500px){
  #yourde{
    position: relative;
    top: 30px;
    font-size: small;
}
}


.card {
  width: 100%;
  max-width: 290px;
  height: 70px;
  background: #353535;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: left;
  backdrop-filter: blur(10px);
  transition: 0.5s ease-in-out;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.img {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 10px;
  background: linear-gradient(#d7cfcf, #9198e5);
}

.card:hover > .img {
  transition: 0.5s ease-in-out;
  background: linear-gradient(#9198e5, #712020);
}

.textBox {
  width: calc(100% - 90px);
  margin-left: 10px;
  color: white;
  font-family: 'Poppins' sans-serif;
}

.textContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.span {
  font-size: 10px;
}

.h1 {
  font-size: 16px;
  font-weight: bold;
}

.p {
  font-size: 12px;
  font-weight: lighter;
}

/*order*/
.card {
    width: 100%;
    height: 100%;
    max-width: 500px;
    background: #aad0a4;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 2%;
    backdrop-filter: blur(10px);
    transition: 0.5s ease-in-out;
  }
  
  .card:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
  
  .img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border-radius: 10px;
    background: linear-gradient(#d7cfcf, #9198e5);
  }
  
  .card:hover > .img {
    transition: 0.5s ease-in-out;
    background: linear-gradient(#9198e5, #712020);
  }
  
  .textBox {
    width: calc(100% - 90px);
    margin-left: 10px;
    color: #000;
    font-family: 'Poppins' sans-serif;
  }
  
  .textContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .span {
    font-size: 15px;
  }
  
  .h1 {
    font-size: 16px;
    font-weight: bold;
  }
  
  .p {
    font-size: 12px;
    font-weight: bold;
  }
  
  


  
  .spinnerContainer {  display: flex;
    flex-direction: column;  align-items: center;
  }
  .spinner {  width: 56px;
    height: 56px;  display: grid;
    border: 4px solid #0000;  border-radius: 50%;
    border-right-color: #006400;  animation: tri-spinner 1s infinite linear;
  }
  .spinner::before,.spinner::after {
    content: "";  grid-area: 1/1;
    margin: 2px;  border: inherit;
    border-radius: 50%;  animation: tri-spinner 2s infinite;
  }
  .spinner::after {  margin: 8px;
    animation-duration: 3s;}
  @keyframes tri-spinner {
    100% {    transform: rotate(1turn);
    }}
  .loader {
    color: #4a4a4a;  font-family: "Poppins",sans-serif;
    font-weight: 500;  font-size: 25px;
    -webkit-box-sizing: content-box;  box-sizing: content-box;
    height: 40px;  padding: 10px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;  border-radius: 8px;
  }
  .words {  overflow: hidden;
  }
  .word {  display: block;
    height: 100%;  padding-left: 6px;
    color: #006400;  animation: cycle-words 5s infinite;
  }
  @keyframes cycle-words {  10% {
      -webkit-transform: translateY(-105%);    transform: translateY(-105%);
    }
    25% {    -webkit-transform: translateY(-100%);
      transform: translateY(-100%);  }
    35% {
      -webkit-transform: translateY(-205%);    transform: translateY(-205%);
    }
    50% {    -webkit-transform: translateY(-200%);
      transform: translateY(-200%);  }
    60% {
      -webkit-transform: translateY(-305%);    transform: translateY(-305%);
    }
    75% {    -webkit-transform: translateY(-300%);
      transform: translateY(-300%);  }
    85% {
      -webkit-transform: translateY(-405%);    transform: translateY(-405%);
    }
    100% {    -webkit-transform: translateY(-400%);
      transform: translateY(-400%);  }
  }.spinnerContainer{
    height: 100vh;  display: flex;
    justify-content: center;  align-items: center;
  }